/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

html, body {
  height: 100%;
}

body {
  background: #F2F1E8;
  font-family: 'Merriweather', serif;
  color: #131511;
  margin: 0;
  position: relative;
  padding-top: 39px;
}

.container {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  background: #F2F1E8;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

nav {
  background-color: #FFFFFF;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  height: 39px;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

#logo {
  width: 40px;
  float: left;
  position: absolute;
  vertical-align: middle;
}

li {
  list-style: none;
  margin: 10px 25px;
  align-items: flex-start;
  font-size: 1.2em;
}

.clearfix {
  height: 0;
  clear: both;
}

nav a {
  color: #2B2F26;
  text-transform: uppercase;
}

.active {
  color: #968772;
}

main {
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 2.0em;
  font-weight: 300;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
}

.image {
  background-size: cover;
  margin: 8px;
  position: relative;
}

.row-1 {
  height: 300px;
}

.row-2 {
  height: 200px;
}

.sm-image {
  flex-grow: 1;
}

.md-image {
  flex-grow: 2;
}

.lg-image {
  flex-grow: 3;
}

#image-01 {
  background-image: url("images/product-1.jpg");
}

#image-02 {
  background-image: url("images/product-2.jpg");
}

#image-03 {
  background-image: url("images/product-3.jpg");
}

#image-04 {
  background-image: url("images/product-4.jpg");
}

#image-05 {
  background-image: url("images/product-5.jpg");
}

#image-06 {
  background-image: url("images/product-6.jpg");
}

#image-07 {
  background-image: url("images/product-7.jpg");
}

button {
  bottom: 15px;
  position: absolute;
  padding: 10px;
  background: #2B2F26;
  color: #F2F1E8;
  border: none;
  font-size: 1.0em;
}

footer {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 20px;
  margin-top: 50px;
}

#about-h1 {
  margin-bottom: 50px;
}

.birdhouse-image {
  float: left;
  width: 20%;
  margin-right: 30px;
}

p {
  font-size: 1.2em;
  line-height: 2.0em;
  margin-top: 0;
}

blockquote {
  width: 100%;
  border-left: 2px solid #968772;
  margin: 0;
  padding: 5px 20px;
  font-size: 1.1em;
  line-height: 2.0em;
  font-weight: 200;
}

h3 {
  font-weight: 500;
  font-size: 1.8em;
  margin: 40px 0 10px;
}

p a {
  color: #968772;
}

#background-image-1 {
  width: 100%
}

#room-to-grow-image {
  background-image: url("images/background-3.jpg");
  background-size: cover;
  background-position: 50% 25%;
  width: 100%;
  margin: 0;
  padding: 140px 0;
}

#room-to-grow-h1 {
  margin: 0;
  color: white;
}

#monthly-plans {
  border-collapse: collapse;
  font-size: 1.2em;
}

#monthly-plans td, #monthly-plans th {
  border: 1px solid #131511;
  font-weight: 500;
  padding: 20px;
}

#monthly-plans tbody tr:nth-child(odd) {
  background-color: #F2EADC;
}

#pottery-image {
  width: 20%;
}

#pottery-image figcaption {
  font-size: 0.8em;
  line-height: 1.5em;
}

#facilities-link {
  text-decoration: underline;
  cursor: pointer;
}

#background-2 {
  background-image: url("images/background-2.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
}

#newsletter-signup {
  background-color: white;
  margin: 0 auto;
  width: 50%;
  min-width: 700px;
  padding: 30px;
  text-align: center;
}

#newsletter-signup h2 {
  margin-bottom: 15px;
}

.form-item {
  border: none;
  border-bottom: 2px solid #968772;
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.8em;
  margin-top: 40px;
  outline: none;
}

#submit {
  background-color: #968772;
  color: #F2F1E8;
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 1.4em;
  border: none;
}
